#!/usr/bin/env python

PACKAGE = "opencv_apps"

from dynamic_reconfigure.parameter_generator_catkin import *;

gen = ParameterGenerator()

gen.add("use_camera_info", bool_t, 0, "Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used.", False)
morph_operator = gen.enum([ gen.const("Opening",   int_t,  0, "Opening"),
                            gen.const("Closing",   int_t,  1, "Closing"),
                            gen.const("Gradient",  int_t,  2, "Gradient"),
                            gen.const("Top_Hat",   int_t,  3, "Top Hat"),
                            gen.const("Black_Hat", int_t,  4, "Black Hat")],
                          "An enum for Morphology Operations")

gen.add("morph_operator", int_t, 0, "Morphology Operation Methods", 1, 0, 3, edit_method=morph_operator)
gen.add("morph_element", int_t, 0, "Type of the kernel 0: Rect, 1: Cross, 2: Ellipse", 0, 0, 2)
gen.add("morph_size", int_t, 0, "Size of the kernel. Must be odd.", 0, 0, 21)

exit (gen.generate (PACKAGE, "morphology", "Morphology"))
